/*Top Banner Background Color */

.prm-primary-bg.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark:after, prm-topbar .top-nav-bar, prm-search-bar.prm-hue1 {background-color: #18335D; }

/*!!!!!!!  TOPBAR - USER AREA - HOVER COLOR !!!!!!!!*/
  md-fab-toolbar md-toolbar {
      background-color: #18335D !important;
      pointer-events: none;
      z-index: 23;
  }
/*Search Bar Wrapper color */
   prm-search-bar, prm-journals-search-bar, prm-browse-search-bar, prm-tags-search-bar {
	background-color: #00468B; 
 }

/*Make logo larger, be default it is not displayed as sized*/
/*prm-logo .product-logo {
    padding: .25em;
}*/
/* Call the clickable logo */
prm-logo div.product-logo {
    display:none;
}
prm-logo div.product-logo-local {
display: flex;
}
prm-logo .product-logo a:hover {background-color:transparent; text-transform:none; box-shadow: none;}
prm-logo .logo-image, prm-logo img {
    max-height: 60px;
}