/**
 * Advanced Search
 * Description: Prevents Advanced Search from collapsing after Primo March 2022 update
 * Credit: Shared by Georgetown University
**/
#advancedSearchTabs {
  min-height: 700px;
  overflow: auto;
}

@media (min-width: 600px) {
  #advancedSearchTabs {
      min-height: 400px;
  }
}

.string-block .animate-scale .middle {
  display: none;
}

.collapsed-area .layout-wrap .layout-align-space-between-center .layout-row {
  display: none;
}

prm-advanced-search * > button.collapsed-button * > md-icon {
  display: none;
}

/* Fix ExLibris-inspired disappearing advanced search field issue */
prm-search-bar .advanced-search-wrapper md-input-container.bold-text input.ng-hide:not(.ng-hide-animate) {
  display: inline-block !important;
}